<style>
    body {
        background-image: url("/images/fondoPantallas.avif");
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>

<div class="d-flex justify-content-center ">
    <form action="/auth/signup" method="POST" class="form marginForForms">
        {{#if mensajeError}}
        <div class="alert alert-danger" role="alert">
            {{mensajeError}}
        </div>
        {{/if}}
        <p class="heading">Sign up</p>
        <input class="input" placeholder="Username" type="text" name="username">
        <input class="input" placeholder="City" type="text" name="city">
        <input class="input" placeholder="Password" type="password" name="password">
        <input class="input" placeholder="Password" type="password" name="passwordRepeat">
        <input type="text" placeholder="Insert admin code" name="codigoUser" class="input">
        <button type="submit" class="bttn">Sign up</button>
        <button onclick=location.href='/auth/login' type="button" class="bttn">Log in</button>

        {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
        {{/if}}
    </form>
</div>