  <h2>Sign Up</h2>
  <form action="/auth/signup" method="POST" class="w-50 mx-auto">
  {{#if mensajeError}}
        <div class="alert alert-danger" role="alert">
            {{mensajeError}}
        </div>
    {{/if}}
   <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" name="username">
        <input type="text" class="form-control" id="floatingInput" name="username">
        <label for="floatingInput">Username</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" name="city">
        <label for="floatingCity">City</label>
        <input type="text" class="form-control" id="floatingInput" name="city">
        <label for="floatingEmail">City</label>
    </div>

    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="floatingPassword" name="password">
        <input type="password" class="form-control" id="floatingPassword" name="password">
        <label for="floatingPassword">Password</label>
    </div>
    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="floatingPassword" name="passwordRepeat">
        <input type="password" class="form-control" id="floatingPassword" name="passwordRepeat">
        <label for="floatingPassword">Repeat password</label>
    </div>

 <button type="submit" class="btn btn-primary">Sign up</button>
    <a class="btn btn-link" href="/auth/login">I'm already registered</a>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
