<style>
    body {
        background-image: url("/images/fondoPantallas.avif");
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>



<div id="divindex">
    <h1>Welcome to MapRecs!</h1>
</div>

<div id="divcredentials">
    <div>
        <a href="/auth/signup"><button class="bttn" id="signup">Sign up</button></a>

        <a href="/auth/login"><button class="bttn" id="login">Log in</button></a>
    </div>
</div>