<h1>{{appTitle}} 🚀</h1>       //RUTA BARRA(/)
<p>Welcome Ironhacker!</p>


<a href="/post/new">new</a>
<a href="/auth/signup">create user</a>
<a href="/auth/logout">Log out</a>
<a href="/auth/login">Log in</a>
<a href="/home/list">lista de posts</a>