<style>
    body {
        background-image: url("/images/fondoPantallas.avif");
        background-size: cover;
    }
</style>

<h1>Welcome to MapRecs!</h1>


<a href="/auth/signup"><button class="bttn">Sign up</button></a>
<a href="/auth/login"><button class="bttn">Log in</button></a>


<a href="/post/new">new</a>
<a href="/auth/logout">Log out</a>
<a href="/home/list">lista de posts</a>