


<h1 style="margin-left: 100px">Edit profile</h1><br>
<h3 style="margin-left: 100px">Upload Image</h3>
<form method="post" enctype="multipart/form-data">
    <input style="margin-left: 100px" type="file" name="image" value="{{image}}" />
    <br>
    <label style="margin-left: 100px" for="city">City</label>
    <input name="city" value="{{user.city}}"><br>
    <label style="margin-left: 100px" for="interests">Interests</label>
    <input name="interests" value="{{user.interests}}">
<br>
    <button style="margin-left: 100px" >Save</button>
</form>
  