<h1>Edit profile</h1>

<form method="post">
    <label for="city">City</label>
    <input name="city" value="{{user.city}}">
<br>
    <label for="interests">Interests</label>
    <input name="interests" value="{{user.interests}}">
<br>
    <button>Save</button>
</form>
  