    {{!-- <div class="pac-card" id="pac-card">
        <div id="type-selector" class="pac-controls">
          <input
            type="radio"
            name="type"
            id="changetype-all"
            checked="checked"
          />
          <label for="changetype-all">All</label>

          <input type="radio" name="type" id="changetype-establishment" />
          <label for="changetype-establishment">establishment</label>

          <input type="radio" name="type" id="changetype-address" />
          <label for="changetype-address">Address</label>

          <input type="radio" name="type" id="changetype-geocode" />
          <label for="changetype-geocode">geocode</label>

          <input type="radio" name="type" id="changetype-cities" />
          <label for="changetype-cities">(cities)</label>

          <input type="radio" name="type" id="changetype-regions" />
          <label for="changetype-regions">(regions)</label>
        </div> --}}



      <div id="pac-container">
        <input id="pac-input" type="text" placeholder="Search..." />
      </div>


      <div id="map" class="container-fluid"></div>
      
      {{!-- <aside class="container col-lg-2">COLUMN</aside> --}}
        


